CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vs/
.vscode/
.idea/
out/
vcpkg_installed/
models/
textures/
/ThirdParty/
cmake-build-*
Streamline/
vk_streamline/
vk_lod_clusters/
cache/
reports/
docs/
logs/