[submodule "ThirdParty/assimp"]
	path = ThirdParty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "BasicRHI"]
	path = BasicRHI
	url = git@github.com:panthuncia/BasicRHI.git
[submodule "OpenRenderGraph"]
	path = OpenRenderGraph
	url = git@github.com:panthuncia/OpenRenderGraph.git
[submodule "tree-sitter-hlsl"]
	path = tree-sitter-hlsl
	url = git@github.com:panthuncia/tree-sitter-hlsl.git
[submodule "GPU-Reshape"]
	path = GPU-Reshape
	url = git@github.com:panthuncia/GPU-Reshape.git
[submodule "volk"]
	path = volk
	url = https://github.com/zeux/volk.git
[submodule "openpbr-bsdf"]
	path = openpbr-bsdf
	url = https://github.com/adobe/openpbr-bsdf.git
[submodule "FidelityFX-SDK"]
	path = FidelityFX-SDK
	url = https://github.com/GPUOpen-LibrariesAndSDKs/FidelityFX-SDK.git
